

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat&family=Poppins:ital,wght@0,300;1,500&family=Roboto&family=Titillium+Web:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
